body{
    height: 100%;
    max-width: 960px;
    margin: auto;
    justify-content: center;
    
}

.Game{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.GameInfo{
    padding: 20px;
}
.GameBoard {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.Square {
    width: 100px;
    height: 100px;
    font-size: xx-large;
    background-color: white;
    border: 3px solid black;
}



